.token-container{
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 50%;
    border: 13px solid transparent;
    position: absolute;
    z-index: 100;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.imagen-container{
    margin: auto;
}

.icon{
    height: 40px;
    width: 40px;
}

.lizard{
    box-shadow: 0px 4px 1px 0px rgba(150, 149, 149, 0.75) inset, 0px 4px 1px 0px rgba(125,71,227,0.75);
    -webkit-box-shadow: 0px 4px 1px 0px rgba(150, 149, 149, 0.75) inset, 0px 4px 1px 0px rgba(125,71,227,0.75);
    -moz-box-shadow: 0px 4px 1px 0px rgba(150, 149, 149, 0.75) inset, 0px 4px 1px 0px rgba(125,71,227,0.75);
    background: linear-gradient(whitesmoke, whitesmoke) padding-box,
    linear-gradient(133deg, rgba(131,79,227,1) 0%, rgba(140,93,229,1) 37%) border-box;
    left: 40%;
    top: 75%;
}

.scissors{
    box-shadow: 0px 4px 1px 0px rgba(150, 149, 149, 0.75) inset, 0px 4px 1px 0px rgba(236, 158, 14, 0.75);
    -webkit-box-shadow: 0px 4px 1px 0px rgba(150, 149, 149, 0.75) inset, 0px 4px 1px 0px rgba(236, 158, 14, 0.75);
    -moz-box-shadow: 0px 4px 1px 0px rgba(150, 149, 149, 0.75) inset, 0px 4px 1px 0px rgba(236, 158, 14, 0.75);
    background: linear-gradient(whitesmoke, whitesmoke) padding-box,
    linear-gradient(133deg, hsl(39, 89%, 49%) 0%, hsl(40, 84%, 53%) 37%) border-box;
    top: 32%;
    left: 46%;
}


.spock{
    box-shadow: 0px 4px 1px 0px rgba(150, 149, 149, 0.75) inset, 0px 4px 1px 0px hsl(189, 60%, 45%);
    -webkit-box-shadow: 0px 4px 1px 0px rgba(150, 149, 149, 0.75) inset, 0px 4px 1px 0px hsl(189, 60%, 45%);
    -moz-box-shadow: 0px 4px 1px 0px rgba(150, 149, 149, 0.75) inset, 0px 4px 1px 0px hsl(189, 60%, 45%);
    background: linear-gradient(whitesmoke, whitesmoke) padding-box,
    linear-gradient(133deg, hsl(189, 59%, 53%)  0%, hsl(189, 58%, 57%) 37%) border-box;
    top:47%;
    left: 37%;
}

.rock{
    box-shadow: 0px 4px 1px 0px rgba(150, 149, 149, 0.75) inset, 0px 4px 1px 0px hsl(349, 59%, 45%);
    -webkit-box-shadow: 0px 4px 1px 0px rgba(150, 149, 149, 0.75) inset, 0px 4px 1px 0px hsl(349, 59%, 45%);
    -moz-box-shadow: 0px 4px 1px 0px rgba(150, 149, 149, 0.75) inset, 0px 4px 1px 0px hsl(349, 59%, 45%);
    background: linear-gradient(whitesmoke, whitesmoke) padding-box,
    linear-gradient(133deg, hsl(349, 71%, 52%) 0%, hsl(349, 70%, 56%) 37%) border-box;
    top: 75%;
    left: 53%;
}

.paper{
    box-shadow: 0px 4px 1px 0px rgba(150, 149, 149, 0.75) inset, 0px 4px 1px 0px hsl(230, 58%, 47%);
    -webkit-box-shadow: 0px 4px 1px 0px rgba(150, 149, 149, 0.75) inset, 0px 4px 1px 0px hsl(230, 58%, 47%);
    -moz-box-shadow: 0px 4px 1px 0px rgba(150, 149, 149, 0.75) inset, 0px 4px 1px 0px hsl(230, 58%, 47%);
    background: linear-gradient(whitesmoke, whitesmoke) padding-box,
    linear-gradient(133deg, hsl(230, 89%, 62%) 0%, hsl(230, 89%, 65%) 37%) border-box;
    top:47%;
    left: 55%;
}

.token-container:hover{
    transform: scale(1.2);
}

.move{
    top: 55%;
    left: 20%;
    transform: scale(2.5);
    transition: all 0.5s ease-in-out;
}

.move:hover{
    transform: scale(2.5);
}


.token-container-opponent{
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 50%;
    border: 13px solid transparent;
    position: absolute;
    z-index: 100;
    cursor: pointer;
    transition: transform 0.3s ease;
    left: 71%;
    top: 56%;
    transform: scale(2.5);
}

@keyframes pulse {
    0% {
      box-shadow: 0px 0px 0px rgba(255, 253, 253, 0.89);
    }
    50% {
      box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.676);
    }
    100% {
      box-shadow: 0px 0px 0px rgba(247, 243, 243, 0.797);
    }
  }
  
  .token-container.winner {
    animation: pulse 1.5s infinite;
  }

  .token-container-opponent.winner {
    animation: pulse 1.5s infinite;
  }

@media screen and (max-width:4000px) and (max-height:3000px){
    .token-container{
        padding: 50px;
        border-radius: 50%;
        border: 20px solid transparent;
    }
    
    .imagen-container{
        margin: auto;
    }
    
    .icon{
        height: 100px;
        width: 100px;
    }
    
    .lizard{
        left: 35%;
        top: 65%;
    }
    
    .scissors{
        top: 22%;
        left: 45.5%;
    }
    
    .spock{
        top:36%;
        left: 32%;
    }
    
    .rock{
        top: 65%;
        left: 55%;
    }
    
    .paper{
        top:36%;
        left: 59%;
    }
    
    .token-container:hover{
        transform: scale(1.2);
    }
    
    .move{
        top: 55%;
        left: 20%;
        transform: scale(2.5);
        transition: all 0.5s ease-in-out;
    }
    
    .move:hover{
        transform: scale(2.5);
    }
    
    
    .token-container-opponent{
        padding: 40px;
        border-radius: 50%;
        border: 20px solid transparent;
        left: 71%;
        top: 56%;
    }
    
  }

  
@media screen and (max-width:4000px) and (max-height:1440px){
    .token-container{
        padding: 40px;
        border-radius: 50%;
        border: 20px solid transparent;
    }
    
    .imagen-container{
        margin: auto;
    }
    
    .icon{
        height: 80px;
        width: 80px;
    }
    
    .lizard{
        left: 40%;
        top: 70%;
    }
    
    .scissors{
        top: 25%;
        left: 46%;
    }
    
    .spock{
        top:40%;
        left: 35%;
    }
    
    .rock{
        top: 70%;
        left: 53%;
    }
    
    .paper{
        top:40%;
        left: 57%;
    }
    
    .token-container:hover{
        transform: scale(1.2);
    }
    
    .move{
        top: 55%;
        left: 20%;
        transform: scale(2.5);
        transition: all 0.5s ease-in-out;
    }
    
    .move:hover{
        transform: scale(2.5);
    }
    
    
    .token-container-opponent{
        padding: 40px;
        border-radius: 50%;
        border: 20px solid transparent;
        left: 71%;
        top: 56%;
    }    
}

@media screen and (max-width:4000px) and (max-height:1200px){
    .token-container{
        padding: 30px;
        border-radius: 50%;
        border: 15px solid transparent;
    }
    
    .imagen-container{
        margin: auto;
    }
    
    .icon{
        height: 70px;
        width: 70px;
    }
    
    .lizard{
        left: 40%;
        top: 72%;
    }
    
    .scissors{
        top: 30%;
        left: 47%;
    }
    
    .spock{
        top:42%;
        left: 36%;
    }
    
    .rock{
        top: 72%;
        left: 53%;
    }
    
    .paper{
        top:42%;
        left: 58%;
    }
    
    .token-container:hover{
        transform: scale(1.2);
    }
    
    .move{
        top: 55%;
        left: 20%;
        transform: scale(2.5);
        transition: all 0.5s ease-in-out;
    }
    
    .move:hover{
        transform: scale(2.5);
    }
    
    .token-container-opponent{
        padding: 30px;
        border-radius: 50%;
        border: 15px solid transparent;
        left: 71%;
        top: 56%;
    }
}
@media screen and (max-width:4000px) and (max-height:1100px){
    
    .spock{
        left: 37%;
    }
    
    .paper{
        left: 57%;
    }
    
    .token-container:hover{
        transform: scale(1.2);
    }
    
    .move{
        top: 55%;
        left: 20%;
        transform: scale(2.5);
        transition: all 0.5s ease-in-out;
    }
    
    .move:hover{
        transform: scale(2.5);
    }
    
    .token-container-opponent{
        padding: 30px;
        border-radius: 50%;
        border: 15px solid transparent;
        left: 71%;
        top: 56%;
    }
    
}