.token-container{
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 50%;
    border: 13px solid transparent;
    position: absolute;
    z-index: 100;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.imagen-container{
    margin: auto;
}

.icon{
    height: 40px;
    width: 40px;
}

.lizard{
    box-shadow: 0px 4px 1px 0px rgba(150, 149, 149, 0.75) inset, 0px 4px 1px 0px rgba(125,71,227,0.75);
    -webkit-box-shadow: 0px 4px 1px 0px rgba(150, 149, 149, 0.75) inset, 0px 4px 1px 0px rgba(125,71,227,0.75);
    -moz-box-shadow: 0px 4px 1px 0px rgba(150, 149, 149, 0.75) inset, 0px 4px 1px 0px rgba(125,71,227,0.75);
    background: linear-gradient(whitesmoke, whitesmoke) padding-box,
    linear-gradient(133deg, rgba(131,79,227,1) 0%, rgba(140,93,229,1) 37%) border-box;
    left: 40%;
    top: 75%;
}

.scissors{
    box-shadow: 0px 4px 1px 0px rgba(150, 149, 149, 0.75) inset, 0px 4px 1px 0px rgba(236, 158, 14, 0.75);
    -webkit-box-shadow: 0px 4px 1px 0px rgba(150, 149, 149, 0.75) inset, 0px 4px 1px 0px rgba(236, 158, 14, 0.75);
    -moz-box-shadow: 0px 4px 1px 0px rgba(150, 149, 149, 0.75) inset, 0px 4px 1px 0px rgba(236, 158, 14, 0.75);
    background: linear-gradient(whitesmoke, whitesmoke) padding-box,
    linear-gradient(133deg, hsl(39, 89%, 49%) 0%, hsl(40, 84%, 53%) 37%) border-box;
    top: 32%;
    left: 46%;
}


.spock{
    box-shadow: 0px 4px 1px 0px rgba(150, 149, 149, 0.75) inset, 0px 4px 1px 0px hsl(189, 60%, 45%);
    -webkit-box-shadow: 0px 4px 1px 0px rgba(150, 149, 149, 0.75) inset, 0px 4px 1px 0px hsl(189, 60%, 45%);
    -moz-box-shadow: 0px 4px 1px 0px rgba(150, 149, 149, 0.75) inset, 0px 4px 1px 0px hsl(189, 60%, 45%);
    background: linear-gradient(whitesmoke, whitesmoke) padding-box,
    linear-gradient(133deg, hsl(189, 59%, 53%)  0%, hsl(189, 58%, 57%) 37%) border-box;
    top:47%;
    left: 37%;
}

.rock{
    box-shadow: 0px 4px 1px 0px rgba(150, 149, 149, 0.75) inset, 0px 4px 1px 0px hsl(349, 59%, 45%);
    -webkit-box-shadow: 0px 4px 1px 0px rgba(150, 149, 149, 0.75) inset, 0px 4px 1px 0px hsl(349, 59%, 45%);
    -moz-box-shadow: 0px 4px 1px 0px rgba(150, 149, 149, 0.75) inset, 0px 4px 1px 0px hsl(349, 59%, 45%);
    background: linear-gradient(whitesmoke, whitesmoke) padding-box,
    linear-gradient(133deg, hsl(349, 71%, 52%) 0%, hsl(349, 70%, 56%) 37%) border-box;
    top: 75%;
    left: 53%;
}

.paper{
    box-shadow: 0px 4px 1px 0px rgba(150, 149, 149, 0.75) inset, 0px 4px 1px 0px hsl(230, 58%, 47%);
    -webkit-box-shadow: 0px 4px 1px 0px rgba(150, 149, 149, 0.75) inset, 0px 4px 1px 0px hsl(230, 58%, 47%);
    -moz-box-shadow: 0px 4px 1px 0px rgba(150, 149, 149, 0.75) inset, 0px 4px 1px 0px hsl(230, 58%, 47%);
    background: linear-gradient(whitesmoke, whitesmoke) padding-box,
    linear-gradient(133deg, hsl(230, 89%, 62%) 0%, hsl(230, 89%, 65%) 37%) border-box;
    top:47%;
    left: 55%;
}

.token-container:hover{
    transform: scale(1.2);
}

.move{
    top: 55%;
    left: 20%;
    transform: scale(2.5);
    transition: all 0.5s ease-in-out;
}

.move:hover{
    transform: scale(2.5);
}


.token-container-opponent{
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 50%;
    border: 13px solid transparent;
    position: absolute;
    z-index: 100;
    cursor: pointer;
    transition: transform 0.3s ease;
    left: 71%;
    top: 56%;
    transform: scale(2.5);
}

@keyframes pulse {
    0% {
      box-shadow: 0px 0px 0px rgba(255, 253, 253, 0.89);
    }
    50% {
      box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.676);
    }
    100% {
      box-shadow: 0px 0px 0px rgba(247, 243, 243, 0.797);
    }
  }
  
  .token-container.winner {
    animation: pulse 1.5s infinite;
  }

  .token-container-opponent.winner {
    animation: pulse 1.5s infinite;
  }

@media screen and (max-width:4000px) and (max-height:3000px){
    .token-container{
        padding: 50px;
        border-radius: 50%;
        border: 20px solid transparent;
    }
    
    .imagen-container{
        margin: auto;
    }
    
    .icon{
        height: 100px;
        width: 100px;
    }
    
    .lizard{
        left: 35%;
        top: 65%;
    }
    
    .scissors{
        top: 22%;
        left: 45.5%;
    }
    
    .spock{
        top:36%;
        left: 32%;
    }
    
    .rock{
        top: 65%;
        left: 55%;
    }
    
    .paper{
        top:36%;
        left: 59%;
    }
    
    .token-container:hover{
        transform: scale(1.2);
    }
    
    .move{
        top: 55%;
        left: 20%;
        transform: scale(2.5);
        transition: all 0.5s ease-in-out;
    }
    
    .move:hover{
        transform: scale(2.5);
    }
    
    
    .token-container-opponent{
        padding: 40px;
        border-radius: 50%;
        border: 20px solid transparent;
        left: 71%;
        top: 56%;
    }
    
  }

  
@media screen and (max-width:4000px) and (max-height:1440px){
    .token-container{
        padding: 40px;
        border-radius: 50%;
        border: 20px solid transparent;
    }
    
    .imagen-container{
        margin: auto;
    }
    
    .icon{
        height: 80px;
        width: 80px;
    }
    
    .lizard{
        left: 40%;
        top: 70%;
    }
    
    .scissors{
        top: 25%;
        left: 46%;
    }
    
    .spock{
        top:40%;
        left: 35%;
    }
    
    .rock{
        top: 70%;
        left: 53%;
    }
    
    .paper{
        top:40%;
        left: 57%;
    }
    
    .token-container:hover{
        transform: scale(1.2);
    }
    
    .move{
        top: 55%;
        left: 20%;
        transform: scale(2.5);
        transition: all 0.5s ease-in-out;
    }
    
    .move:hover{
        transform: scale(2.5);
    }
    
    
    .token-container-opponent{
        padding: 40px;
        border-radius: 50%;
        border: 20px solid transparent;
        left: 71%;
        top: 56%;
    }    
}

@media screen and (max-width:4000px) and (max-height:1200px){
    .token-container{
        padding: 30px;
        border-radius: 50%;
        border: 15px solid transparent;
    }
    
    .imagen-container{
        margin: auto;
    }
    
    .icon{
        height: 70px;
        width: 70px;
    }
    
    .lizard{
        left: 40%;
        top: 67%;
    }
    
    .scissors{
        top: 25%;
        left: 47%;
    }
    
    .spock{
        top:37%;
        left: 36%;
    }
    
    .rock{
        top: 67%;
        left: 53%;
    }
    
    .paper{
        top:37%;
        left: 58%;
    }
    
    .token-container:hover{
        transform: scale(1.2);
    }
    
    .move{
        top: 55%;
        left: 20%;
        transform: scale(2.5);
        transition: all 0.5s ease-in-out;
    }
    
    .move:hover{
        transform: scale(2.5);
    }
    
    .token-container-opponent{
        padding: 30px;
        border-radius: 50%;
        border: 15px solid transparent;
        left: 71%;
        top: 56%;
    }
}
@media screen and (max-width:4000px) and (max-height:1070px){
    .spock{
        top:37%;
        left: 37%;
    }
    
    .paper{
        top:37%;
        left: 57%;
    }
    
    .token-container-opponent{
        padding: 30px;
        border-radius: 50%;
        border: 15px solid transparent;
        left: 73%;
        top: 56%;
    }
}

@media screen and (max-width:4000px) and (max-height:950px){
    .token-container{
        border: 13px solid transparent;
    }
    
    .icon{
        height: 60px;
        width: 60px;
    }
    
    .lizard{
        left: 41%;
        top: 70%;
    }
    
    .scissors{
        top: 27%;
        left: 47%;
    }
    
    .spock{
        top:42%;
        left: 38%;
    }
    
    .rock{
        top: 70%;
        left: 53%;
    }
    
    .paper{
        top:42%;
        left: 56%;
    }
    
    .token-container:hover{
        transform: scale(1.2);
    }
    
    .move{
        top: 55%;
        left: 23%;
    }
    
    .move:hover{
        transform: scale(2.5);
    }
    
    .token-container-opponent{
        padding: 30px;
        border-radius: 50%;
        border: 15px solid transparent;
        left: 71%;
        top: 56%;
    }
    
}

@media screen and (max-width:4000px) and (max-height:800px){
    .token-container{
        padding: 25px;
        border: 10px solid transparent;
    }
    
    .icon{
        height: 50px;
        width: 50px;
    }
     
    .lizard{
        left: 43%;
        top: 620px;
    }
    
    .scissors{
        top: 260px;
        left: 48%;
    }
    
    .spock{
        top:390px;
        left: 40%;
    }
    
    .rock{
        top: 620px;
        left: 53%;
    }
    
    .paper{
        top:390px;
        left: 55.5%;
    }
    .token-container:hover{
        transform: scale(1.2);
    }
    
    .move{
        top: 55%;
        left: 24%;
    }
    
    .move:hover{
        transform: scale(2.5);
    }
    
    .token-container-opponent{
        padding: 25px;
        border-radius: 50%;
        border: 10px solid transparent;
        left: 71%;
        top: 56%;
    }
    
}

@media screen and (max-width:1440px) and (max-height:3000px){
    .lizard{ 
        left: 33%;
        top: 68%;
    }
    
    .scissors{
        top: 24%;
        left: 45%;
    }
    
    .spock{
        top:40%;
        left: 25%;
    }
    
    .rock{
        top: 68%;
        left: 57%;
    }
    
    .paper{
        top:40%;
        left: 63%;
    }
    .move{
        top: 45%;
        left: 14%;
        transform: scale(2.5);
        transition: all 0.5s ease-in-out;
    }
    .token-container-opponent{
        padding: 30px;
        border: 20px solid transparent;
        left: 75%;
        top: 45%;
    }
}

@media screen and (max-width:1440px) and (max-height:1120px){
    .token-container{
        padding: 30px;
        border: 20px solid transparent;
    }
    
    .icon{
        height: 70px;
        width: 70px;
    }
    
    .lizard{
        left: 34%;
        top: 69%;
    }
    
    .scissors{
        top: 24%;
        left: 44%;
    }
    
    .spock{
        top:40%;
        left: 26%;
    }
    
    .rock{
        top: 69%;
        left: 56%;
    }
    
    .paper{
        top:40%;
        left: 62%;
    }
    
    .token-container:hover{
        transform: scale(1.2);
    }
    
    .move{
        top: 45%;
        left: 14%;
        transform: scale(2.5);
        transition: all 0.5s ease-in-out;
    }
    
    .move:hover{
        transform: scale(2.5);
    }
    
    .token-container-opponent{
        padding: 30px;
        border: 20px solid transparent;
        left: 75%;
        top: 45%;
    }
}


@media screen and (max-width:1440px) and (max-height:850px){
    .token-container{
        padding: 25px;
        border: 15px solid transparent;
    }
    
    .icon{
        height: 55px;
        width: 55px;
    }
    
    .lizard{
        left: 37%;
        top: 72%;
    }
    
    .scissors{
        top: 27%;
        left: 46%;
    }
    
    .spock{
        top:44%;
        left: 33%;
    }
    
    .rock{
        top: 72%;
        left: 55%;
    }
    
    .paper{
        top:44%;
        left: 58%;
    }
    
    .token-container:hover{
        transform: scale(1.2);
    }
    
    .move{
        top: 45%;
        left: 19%;
        transform: scale(2.5);
        transition: all 0.5s ease-in-out;
    }
    
    .move:hover{
        transform: scale(2.5);
    }
    
    .token-container-opponent{
        padding: 25px;
        border: 15px solid transparent;
        left: 72%;
        top: 45%;
    }
}

@media screen and (max-width:1440px) and (max-height:700px){
    .token-container{
        padding: 20px;
        border: 10px solid transparent;
    }
    
    .icon{
        height: 40px;
        width: 40px;
    }
    
    .lizard{
        left: 40%;
        top: 72%;
    }
    
    .scissors{
        top: 30%;
        left: 46.5%;
    }
    
    .spock{
        top:45%;
        left: 36%;
    }
    
    .rock{
        top: 72%;
        left: 53%;
    }
    
    .paper{
        top:45%;
        left: 56.5%;
    }
    
    .token-container:hover{
        transform: scale(1.2);
    }
    
    .move{
        top: 55%;
        left: 20%;
        transform: scale(2.5);
        transition: all 0.5s ease-in-out;
    }
    
    .move:hover{
        transform: scale(2.5);
    }
    
    .token-container-opponent{
        padding: 20px;
        border: 10px solid transparent;
        left: 72%;
        top: 56%;
    }
}

@media screen and (max-width:1440px) and (max-height:610px){
    
    .scissors{
        top: 32%;
        left: 47%;
    }
    
    .move{
        top: 55%;
        left: 22%;
        transform: scale(2.5);
        transition: all 0.5s ease-in-out;
    }
    
    .move:hover{
        transform: scale(2.5);
    }
    
    .token-container-opponent{
        padding: 20px;
        border: 10px solid transparent;
        left: 72%;
        top: 56%;
    }
}

@media screen and (max-width:1440px) and (max-height:515px){
    .token-container{
        padding: 15px;
        border: 8px solid transparent;
    }
    
    .icon{
        height: 35px;
        width: 35px;
    }
    
    .lizard{
        left: 40%;
        top: 80%;
    }
    
    .scissors{
        top: 37%;
        left: 47%;
    }
    
    .spock{
        top:51%;
        left: 36%;
    }
    
    .rock{
        top: 80%;
        left: 55%;
    }
    
    .paper{
        top:51%;
        left: 58%;
    }
    
    .token-container:hover{
        transform: scale(1.2);
    }
    
    .move{
        top: 55%;
        left: 20%;
        transform: scale(2.5);
        transition: all 0.5s ease-in-out;
    }
    
    .move:hover{
        transform: scale(2.5);
    }
    
    .token-container-opponent{
        padding: 20px;
        border: 10px solid transparent;
        left: 72%;
        top: 56%;
    }
}

@media screen and (max-width:1024px) and (max-height:1000px){
    .token-container{
        padding: 20px;
        border:15px solid transparent;
    }
    
    .icon{
        height: 60px;
        width: 60px;
    }
    
    .lizard{
        left: 32%;
        top: 72%;
    }
    
    .scissors{
        top: 28%;
        left: 44%;
    }
    
    .spock{
        top:45%;
        left: 25%;
    }
    
    .rock{
        top: 73%;
        left: 56%;
    }
    
    .paper{
        top:45%;
        left: 62%;
    }
    
    .token-container:hover{
        transform: scale(1.2);
    }
    
    .move{
        top: 45%;
        left: 15%;
        transform: scale(2);
        transition: all 0.5s ease-in-out;
    }
    
    .move:hover{
        transform: scale(2);
    }
    
    .token-container-opponent{
        padding: 20px;
        border: 15px solid transparent;
        left: 75%;
        top: 45%;
        transform: scale(2);
    }
}



@media screen and (max-width:1024px) and (max-height:750px){
    .token-container{
        padding: 20px;
        border:15px solid transparent;
    }
    
    .icon{
        height: 45px;
        width: 45px;
    }
    
    .lizard{
        left: 35%;
        top: 73%;
    }
    
    .scissors{
        top: 28%;
        left: 45%;
    }
    
    .spock{
        top:45%;
        left: 30%;
    }
    
    .rock{
        top: 73%;
        left: 54%;
    }
    
    .paper{
        top:45%;
        left: 58%;
    }
    
    .token-container:hover{
        transform: scale(1.2);
    }
    
    .move{
        top: 45%;
        left: 15%;
        transform: scale(2.5);
        transition: all 0.5s ease-in-out;
    }
    
    .move:hover{
        transform: scale(2.5);
    }
    
    .token-container-opponent{
        padding: 20px;
        border: 15px solid transparent;
        left: 75%;
        top: 45%;
    }
}


@media screen and (max-width:1024px) and (max-height:550px){
    .token-container{
        padding: 15px;
        border:10px solid transparent;
    }
    
    .icon{
        height: 35px;
        width: 35px;
    }
    
    .lizard{
        left: 38%;
        top: 75%;
    }
    
    .scissors{
        top: 35%;
        left: 45.5%;
    }
    
    .spock{
        top:50%;
        left: 35%;
    }
    
    .rock{
        top: 75%;
        left: 54%;
    }
    
    .paper{
        top:50%;
        left: 57%;
    }
    
    .token-container:hover{
        transform: scale(1.2);
    }
    
    .move{
        top: 45%;
        left: 15%;
        transform: scale(2.5);
        transition: all 0.5s ease-in-out;
    }
    
    .move:hover{
        transform: scale(2.5);
    }
    
    .token-container-opponent{
        padding: 20px;
        border: 15px solid transparent;
        left: 75%;
        top: 45%;
    }
}


@media screen and (max-width:1024px) and (max-height:470px){
    .token-container{
        padding: 15px;
        border:10px solid transparent;
    }
    
    .icon{
        height: 35px;
        width: 35px;
    }
    
    .lizard{
        left: 38%;
        top: 70%;
    }
    
    .scissors{
        top: 30%;
        left: 46%;
    }
    
    .spock{
        top:45%;
        left: 35%;
    }
    
    .rock{
        top: 70%;
        left: 55%;
    }
    
    .paper{
        top:45%;
        left: 57%;
    }
    
    .token-container:hover{
        transform: scale(1.2);
    }
    
    .move{
        top: 50%;
        left: 20%;
        transform: scale(2.5);
        transition: all 0.5s ease-in-out;
    }
    
    .move:hover{
        transform: scale(2.5);
    }
    
    .token-container-opponent{
        padding: 15px;
        border: 10px solid transparent;
        left: 75%;
        top: 50%;
    }
}

@media screen and (max-width:768px) and (max-height:600px){
    .token-container{
        padding: 15px;
        border:10px solid transparent;
    }
    .lizard{
        left: 35%;
        top: 70%;
    }
    
    .scissors{
        top: 28%;
        left: 45%;
    }
    
    .spock{
        top:42%;
        left: 30%;
    }
    
    .rock{
        top: 70%;
        left: 55%;
    }
    
    .paper{
        top:42%;
        left: 59%;
    }
    
    .token-container:hover{
        transform: scale(1.2);
    }
    
    .move{
        top: 50%;
        left: 14%;
        transform: scale(2.5);
        transition: all 0.5s ease-in-out;
    }
    
    .move:hover{
        transform: scale(2.5);
    }
    
    .token-container-opponent{
        padding: 15px;
        border: 10px solid transparent;
        left: 75%;
        top: 50%;
    }
}


@media screen and (max-width:768px) and (max-height:450px){
    .token-container{
        padding: 12px;
        border:5px solid transparent;
    }
    
    .icon{
        height: 30px;
        width: 30px;
    }
    .lizard{
        left: 35%;
        top: 72%;
    }
    
    .scissors{
        top: 30%;
        left: 45.5%;
    }
    
    .spock{
        top:45%;
        left: 32%;
    }
    
    .rock{
        top: 72%;
        left: 55%;
    }
    
    .paper{
        top:45%;
        left: 59%;
    }
    
    .token-container:hover{
        transform: scale(1.2);
    }
    
    .move{
        top: 50%;
        left: 16%;
        transform: scale(2.5);
        transition: all 0.5s ease-in-out;
    }
    
    .move:hover{
        transform: scale(2.5);
    }
    
    .token-container-opponent{
        padding: 12px;
        border: 5px solid transparent;
        left: 76%;
        top: 50%;
    }
}

@media screen and (max-width:768px) and (max-height:900px){
    
    .token-container{
        padding: 15px;
        border:9px solid transparent;
    }
    
    .icon{
        height: 50px;
        width: 50px;
    }
    .lizard{
        left: 28%;
        top: 72%;
    }
    
    .scissors{
        top: 27%;
        left: 44%;
    }
    
    .spock{
        top:42%;
        left: 18%;
    }
    
    .rock{
        top: 72%;
        left: 60%;
    }
    
    .paper{
        top:42%;
        left: 69%;
    }
    
    .token-container:hover{
        transform: scale(1.2);
    }
    
    .move{
        top: 40%;
        left: 12%;
        transform: scale(2.5);
        transition: all 0.5s ease-in-out;
    }
    
    .move:hover{
        transform: scale(2.5);
    }
    
    .token-container-opponent{
        padding: 15px;
        border: 9px solid transparent;
        left: 76%;
        top: 40%
    }
}

@media screen and (max-width:768px) and (max-height:370px){
    
    .scissors{
        top: 33%;
        left: 45.5%;
    }
    
    .spock{
        top:45%;
        left: 35%;
    }
    
    .rock{
        top: 72%;
        left: 53%;
    }
    
    .paper{
        top:45%;
        left: 56%;
    }

    .lizard{
        left: 38%;
        top: 72%;
    }
    
    .token-container:hover{
        transform: scale(1.2);
    }
    
    .move{
        top: 50%;
        left: 16%;
        transform: scale(2.5);
        transition: all 0.5s ease-in-out;
    }
    
    .move:hover{
        transform: scale(2.5);
    }
    
    .token-container-opponent{
        padding: 12px;
        border: 5px solid transparent;
        left: 76%;
        top: 50%;
    }
}


@media screen and (max-width:425px) and (max-height:920px){
    .token-container{
        padding: 15px;
        border:10px solid transparent;
    }
    
    .icon{
        height: 35px;
        width: 35px;
    }
    .lizard{
        left: 25%;
        top: 70%;
    }
    
    .scissors{
        top: 25%;
        left: 41%;
    }
    
    .spock{
        top:43%;
        left: 17%;
    }
    
    .rock{
        top: 70%;
        left: 57%;
    }
    
    .paper{
        top:43%;
        left: 62%;
    }
    
    .token-container:hover{
        transform: scale(1.2);
    }
    
    .move{
        top: 30%;
        left: 12%;
        transform: scale(1.7);
        transition: all 0.5s ease-in-out;
    }
    
    .move:hover{
        transform: scale(1.7);
    }
   
    .token-container-opponent{
        padding: 15px;
        border: 10px solid transparent;
        left: 70%;
        top: 30%;
        transform: scale(1.7);
    }
}

@media screen and (max-width:415px) and (max-height:920px){

    .icon{
        height: 45px;
        width: 45px;
    }
    .lizard{
        left: 20%;
        top: 43%;
    }
    
    .scissors{
        top: 20%;
        left: 39%;
    }
    
    .spock{
        top:28%;
        left: 10%;
    }
    
    .rock{
        top: 43%;
        left: 56%;
    }
    
    .paper{
        top:28%;
        left: 68%;
    }

    .token-container:hover{
        transform: scale(1.2);
    }
    
    .move{
        top: 25%;
        left: 12%;
        transform: scale(1.7);
        transition: all 0.5s ease-in-out;
    }
    
    .move:hover{
        transform: scale(1.7);
    }
   
    .token-container-opponent{
        padding: 15px;
        border: 10px solid transparent;
        left: 65%;
        top: 25%;
        transform: scale(1.7);
    }
}

@media screen and (max-width:390px) and (max-height:920px){
    .lizard{
        top:65%;
        left: 22%;
    }
    
    .scissors{
        left: 38%;
        top: 25%;
    }
    
    .spock{
        top: 40%;
        left: 11%;
    }
    
    .rock{
        top:65%;
        left: 55%;
    }
    
    .paper{
        top: 40%;
        left: 65%;
    }

    .token-container:hover{
        transform: scale(1.2);
    }
    .move{
        top: 30%;
        left: 12%;
        transform: scale(1.4);
        transition: all 0.5s ease-in-out;
    }
    
    .move:hover{
        transform: scale(1.4);
    }
   
    .token-container-opponent{
        left: 63%;
        top: 30%;
        transform: scale(1.4);
    }
}
@media screen and (max-width:370px) and (max-height:650px){
    .lizard{
        left: 15%;
        top: 58%;
    }
    
    .scissors{
        left: 38%;
        top:18%;
    }
    
    .spock{
        top:32%;
        left: 1%;
    }
    
    .rock{
        top: 58%;
        left: 60%;
    }
    
    .paper{
        top:32%;
        left: 75%;
    }

    .token-container:hover{
        transform: scale(1.2);
    }
    .move{
        top: 25%;
        left: 12%;
        transform: scale(1.4);
        transition: all 0.5s ease-in-out;
    }
    
    .move:hover{
        transform: scale(1.4);
    }
   
    .token-container-opponent{
        left: 63%;
        top: 25%;
        transform: scale(1.4);
    }
}


@media screen and (max-width:360px) and (max-height:920px){
    .token-container{
        padding: 15px;
        border:10px solid transparent;
    }
    
    .icon{
        height: 40px;
        width: 40px;
    }
    .lizard{
        left: 15%;
        top: 60%;
    }
    
    .scissors{
        top: 25%;
        left: 38%;
    }
    
    .spock{
        top:37%;
        left: 7%;
    }
    
    .rock{
        top: 60%;
        left: 57%;
    }
    
    .paper{
        top:37%;
        left: 68%;
    }
    
    .token-container:hover{
        transform: scale(1.2);
    }
    
    .move{
        top: 25%;
        left: 12%;
        transform: scale(1.7);
        transition: all 0.5s ease-in-out;
    }
    
    .move:hover{
        transform: scale(1.7);
    }
   
    .token-container-opponent{
        padding: 15px;
        border: 10px solid transparent;
        left: 63%;
        top: 25%;
        transform: scale(1.7);
    }
}
@media screen and (max-width:390px) and (max-height:920px){
    .lizard{
        left: 19%;
        top: 48%;
    }
    
    .scissors{
        top: 22%;
        left: 38%;
    }
    
    .spock{
        top:32%;
        left: 7%;
    }
    
    .rock{
        top: 48%;
        left: 57%;
    }
    
    .paper{
        top:32%;
        left: 68%;
    }
    .move{
        top: 25%;
        left: 12%;
        transform: scale(1.7);
        transition: all 0.5s ease-in-out;
    }
    
    .move:hover{
        transform: scale(1.7);
    }
   
    .token-container-opponent{
        padding: 15px;
        border: 10px solid transparent;
        left: 63%;
        top: 25%;
        transform: scale(1.7);
    }
    
}

@media screen and (max-width:340px) and (max-height:920px){
    
    .lizard{
        left: 15%;
    }
    
    .scissors{
        left: 38%;
    }
    
    .spock{
        left: 3%;
    }
    
    .rock{
        left: 60%;
    }
    
    .paper{
        left: 71%;
    }
    
    .token-container:hover{
        transform: scale(1.2);
    }
    .move{
        top: 25%;
        left: 10%;
        transform: scale(1.4);
        transition: all 0.5s ease-in-out;
    }
    
    .move:hover{
        transform: scale(1.4);
    }
   
    .token-container-opponent{
        left: 63%;
        top: 25%;
        transform: scale(1.4);
    }
}




