.main-options-container{
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.pentagon-container img{
    height: 250px;
}

.dissapear{
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
