@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');
.main-options-container{
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.main-active-container{
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
}

.pentagon-container img{
    height: 250px;
}

.dissapear{
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

@media screen and (max-width:4000px) and (max-height:3000px){
    .pentagon-container img{
        height: 50vh;
    }
}

@media screen and (max-width:4000px) and (max-height:700px){
    .pentagon-container img{
        width: 20vw;
        height: 400px;
    }
}

@media screen and (max-width:1440px) and (max-height:3000px){
    .pentagon-container img{
        height: 50vh;
        width:auto;
    }
}

@media screen and (max-width:1440px) and (max-height:560px){
    .pentagon-container img{
        height: 47vh;
        width:25vw;
    }
}


@media screen and (max-width:1024px) and (max-height:550px){
    .main-options-container{
        margin-top: 4%;
    }
}

@media screen and (max-width:768px) and (max-height:500px){
    .main-active-container{
        margin: 12px;
    }
    .pentagon-container img{
        height: 50vh;
        width:auto;
    }
}

@media screen and (max-width:768px) and (max-height:330px){
    .main-active-container{
        margin: 16px;
    }
}

@media screen and (max-width:425px) and (max-height:900px){
    .main-options-container{
        margin-top: 30px;
    }
    .pentagon-container img{
        height: 45vh;
        width:auto;
    }
}
